{% extends 'layout/default.html.twig' %}

{% block title %}{{ results.for }} - GeekHub{% endblock %}

{% block content %}

{% if results.users is defined %}
  {% set resultsNumber = results.users.getTotalItemCount %}
{% else %}
  {% set resultsNumber = results.posts.getTotalItemCount %}
{% endif %}

<h2 class="page-header">
  {{ resultsNumber }}
  {% if resultsNumber == 1 %}
  result
  {% else %}
  results
  {% endif %}
  for {{ results.for }}
</h2>

<ul class="nav nav-tabs">
  <li role="presentation"
  {% if results.posts is defined %}
    class="active"
  {% endif %}
  ><a href="{{ path('search') }}">Posts</a></li>
  <li role="presentation"
  {% if results.users is defined %}
    class="active"
  {% endif %}
  ><a href="{{ path('search', {'type': 'users'}) }}">Users</a></li>
  <li role="presentation" class="dropdown pull-right
  {% if resultsNumber < 2 %}
    disabled
  {% endif %}
  ">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Sort by
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% set sort = app.request.get('sort')|default('createDate') %}
        {% if results.posts is defined %}
            <li
            {% if sort == 'createDate' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'sort': 'createDate'}) }}">Creation date</a></li>
            <li
            {% if sort == 'rating' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'sort': 'rating'}) }}">Rating</a></li>
            <li
            {% if sort == 'views' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'sort': 'views'}) }}">Views</a></li>
        {% endif %}
        {% if results.users is defined %}
            <li
            {% if sort == 'createDate' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'type': 'users', 'sort': 'createDate'}) }}">Creation date</a></li>
            <li
            {% if sort == 'posts' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'type': 'users', 'sort': 'posts'}) }}">Posts</a></li>
            <li
            {% if sort == 'followers' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'type': 'users', 'sort': 'followers'}) }}">Followers</a></li>
        {% endif %}
    </ul>
  </li>
</ul>

<div class="post-group">
  {% if resultsNumber == 0 %}
    <p class="panel-body">Your search returned no results.</p>
  {% endif %}
  {% if results.users is defined %}
    {% for user in results.users %}
        {{ include('user/list.html.twig') }}
    {% endfor %}
    {% if resultsNumber > 5 %}
        <div class="navigation col-md-12">
            {{ knp_pagination_render(results.users) }}
        </div>
    {% endif %}
  {% else %}
    {% for post in results.posts %}
      {{ include('post/list.html.twig') }}
    {% endfor %}
    {% if resultsNumber > 5 %}
        <div class="navigation col-md-12">
            {{ knp_pagination_render(results.posts) }}
        </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
