{% extends 'layout/default.html.twig' %}

{% block title %}{{ results.for }} - GeekHub{% endblock %}

{% block content %}

{% if results.users is defined %}
  {% set resultsNumber = results.users.getTotalItemCount %}
{% else %}
  {% set resultsNumber = results.posts.getTotalItemCount %}
{% endif %}

<h2 class="page-header">
  {{ resultsNumber }}
  {% if resultsNumber == 1 %}
  result
  {% else %}
  results
  {% endif %}
  for {{ results.for }}
</h2>

<ul class="nav nav-tabs">
  <li role="presentation"
  {% if results.posts is defined %}
    class="active"
  {% endif %}
  ><a href="{{ path('search') }}">Posts</a></li>
  <li role="presentation"
  {% if results.users is defined %}
    class="active"
  {% endif %}
  ><a href="{{ path('search', {'type': 'users'}) }}">Users</a></li>
  <li role="presentation" class="dropdown pull-right
  {% if resultsNumber < 2 %}
    disabled
  {% endif %}
  ">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Sort by
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% set sort = app.request.get('sort')|default('createDate') %}
        {% if results.posts is defined %}
            <li
            {% if sort == 'createDate' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'sort': 'createDate'}) }}">Creation date</a></li>
            <li
            {% if sort == 'rating' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'sort': 'rating'}) }}">Rating</a></li>
            <li
            {% if sort == 'views' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'sort': 'views'}) }}">Views</a></li>
        {% endif %}
        {% if results.users is defined %}
            <li
            {% if sort == 'createDate' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'type': 'users', 'sort': 'createDate'}) }}">Creation date</a></li>
            <li
            {% if sort == 'reputation' %}
                class="active"
            {% endif %}
            ><a href="{{ path('search', {'type': 'users', 'sort': 'reputation'}) }}">Reputation</a></li>
        {% endif %}
    </ul>
  </li>
</ul>

<div class="post-group">
  {% if resultsNumber == 0 %}
    <p class="panel-body">Your search returned no results.</p>
  {% endif %}
  {% if results.users is defined %}
    {% for user in results.users %}
    <div class="col col-md-4 col-xs-6">
        <div class="user-card-container">
            <a href="{{ path('user', {'user': user.id}) }}">
                <img src="{{ asset(user.profilePicturePath) }}" alt="{{ user.username }}" class="img-rounded img-responsive user-card-image">
                <div class="user-card-caption">
                    <h3 class="user-card-username">
                        {{ user.username }}
                        <small>{{ user.forename }} {{ user.surname }}</small>
                    </h3>
                    <p>
                        <span class="fa fa-fw fa-pencil" aria-hidden="true"></span>
                        <span class="visually-hidden">Posts</span>
                        {{ user.getPosts|length}}
                        <span class="fa fa-fw fa-users space-left" aria-hidden="true"></span>
                        <span class="visually-hidden">Followers</span>
                        0
                    </p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
    {% if resultsNumber > 5 %}
        <div class="navigation col-md-12">
            {{ knp_pagination_render(results.users) }}
        </div>
    {% endif %}
  {% else %}
    {% for post in results.posts %}
      {{ include('post/list.html.twig') }}
    {% endfor %}
    {% if resultsNumber > 5 %}
        <div class="navigation col-md-12">
            {{ knp_pagination_render(results.posts) }}
        </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
