{% extends 'layout/default.html.twig' %}

{% block title %}{{ results.for }} - GeekHub{% endblock %}

{% block content %}

{% if results.users is defined %}
  {% set resultsNumber = results.users|length %}
{% else %}
  {% set resultsNumber = results.posts|length %}
{% endif %}

<h2 class="page-header">
  {{ resultsNumber }}
  {% if resultsNumber == 1 %}
  result
  {% else %}
  results
  {% endif %}
  for {{ results.for }}
</h2>

<ul class="nav nav-tabs">
  <li role="presentation"
  {% if results.posts is defined %}
    class="active"
  {% endif %}
  ><a href="{{ path('search') }}">Posts</a></li>
  <li role="presentation"
  {% if results.users is defined %}
    class="active"
  {% endif %}
  ><a href="{{ path('search', {'type': 'users'}) }}">Users</a></li>
  <li role="presentation" class="dropdown pull-right
  {% if resultsNumber < 2 %}
    disabled
  {% endif %}
  ">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Sort by
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% if results.posts is defined %}
        <li><a href="{{ path('search', {'sortby': 'createDate'}) }}">Creation date</a></li>
        <li><a href="{{ path('search', {'sortby': 'rating'}) }}">Rating</a></li>
        <li><a href="{{ path('search', {'sortby': 'views'}) }}">Views</a></li>
      {% endif %}
      {% if results.users is defined %}
        <li><a href="{{ path('search', {'type': 'users', 'sortby': 'createDate'}) }}">Creation date</a></li>
        <li><a href="{{ path('search', {'type': 'users', 'sortby': 'reputation'}) }}">Reputation</a></li>
      {% endif %}
    </ul>
  </li>
</ul>

<ul class="list-group">
  {% if resultsNumber == 0%}
  <p class="panel-body">Your search returned no results.</p>
  {% endif %}
  {% if results.users is defined %}
    {% for user in results.users %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-2 col-xs-4">
          <a href="#">
            <img src="{{ asset(user.profilePicturePath) }}" alt="{{ user.username }}" class="img-rounded img-responsive">
          </a>
        </div>
        <div class="col-md-10 col-xs-8">
          <a href="#">
            <h3>{{ user.username }}</h3>
          </a>
          <span class="label label-primary">{{ user.rank.name }}</span>
          <p>{{ user.forename }} {{ user.surname }}, member since {{ user.createDate|date('F j, Y, g:i a') }}</p>
        </div>
      </div>
    </li>

    {% endfor %}
  {% else %}
    {% for post in results.posts %}
      {{ include('post/list.html.twig') }}
    {% endfor %}
  {% endif %}
</ul>
{% endblock %}
