<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}GeekHub{% endblock %}</title>

    {% block stylesheets %}
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <!-- <link href="{{ asset('css/bootstrap.min.css' )}}" rel="stylesheet"> -->
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Pacifico|Varela+Round" rel="stylesheet">
      <link href="{{ asset('css/main.css' )}}" rel="stylesheet">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>

    {% block layout %}{% endblock %}

    {% block javascripts %}
      <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <!-- <script src="{{ asset('js/jquery-3.1.1.min.js' )}}"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> -->
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
      <script src="{{ asset('js/bootstrap.min.js' )}}"></script>
      <script src="{{ asset('js/app.js') }}"></script>
    {% endblock %}
  </body>
</html>
