<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('home') }}">GeekHub</a>
    </div>
    <form action="{{ path('search') }}" method="POST" class="navbar-form navbar-left" novalidate role="search">
        <label for="search_input">
            <span class="fa fa-fw fa-search" aria-hidden="true"></span>
            <span class="visually-hidden">Search</span>
        </label>
        <input type="text" id="search_input" name="search_input" class="search-field" placeholder="Search">
    </form>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div id="navbar" class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li>
          <a href="{{ path('post_create') }}">
            <span class="fa fa-fw fa-lg fa-pencil" aria-hidden="true" title="Add post"></span>
            <span class="visually-hidden">Add post</span>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-fw fa-lg fa-bell" aria-hidden="true" title="Notifications"></span>
            <span class="visually-hidden">Notifications</span>
          </a>
          <ul class="dropdown-menu notifications">
            {{ render(controller('AppBundle:Notification:list', {'user': app.user.id })) }}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img src="{{ asset(app.user.profilePicturePath) }}" alt="{{ app.user.username }} profile picture" class="img-circle" width="40px" height="40px">
          </a>
          <ul class="dropdown-menu">
            <li class="profile">
                <img src="{{ asset(app.user.profilePicturePath) }}" alt="{{ app.user.username }} profile picture" class="img-circle profile-img" width="50px" height="50px">
                <div class="img-caption">
                    <p>{{ app.user.username }}
                    <small>{{ app.user.forename }} {{ app.user.surname }}</small></p>
                </div>
            </li>
            <li>
                <a href="{{ path('user', {'user': app.user.id}) }}">
                    <span class="fa fa-fw fa-user" aria-hidden="true"></span>
                    My profile
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-fw fa-cog" aria-hidden="true"></span>
                    Account settings
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <span class="fa fa-fw fa-sign-out" aria-hidden="true"></span>
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>
          </ul>
        </li>
      </ul>
      {% else %}
      <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
      <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
