{% extends 'layout/default.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-picture-wrapper col-md-4 col-xs-12">
            <img src="{{ asset(user.profilePicturePath) }}" alt="{{ user.username }}" class="img-responsive profile-picture img-circle">
        </div>
        <div class="profile-body col-md-8 col-xs-12">
            <h3 class="username">
                {{ user.username }}
                <small>{{ user.forename }} {{ user.surname }}</small>
            </h3>
            <div class="profile-dates">
                <span>Last visit {{ user.lastLogin|time_diff }}</span>
                <span>Joined {{ user.createDate|time_diff }}</span>
            </div>
            {% if user.about is not null %}
                <p class="about">{{ user.about }}</p>
            {% endif %}
            <div class="profile-stats">
                <div class="stat-wrapper">
                    <span class="stat">{{ user.getPosts|length }}</span>
                    <span class="label">Posts</span>
                </div>
                {% set postviews = 0 %}
                {% for post in user.getPosts %}
                    {% set postviews = postviews + post.views %}
                {% endfor %}
                <div class="stat-wrapper">
                    <span class="stat">{{ postviews }}</span>
                    <span class="label">Postviews</span>
                </div>
                <div class="stat-wrapper">
                    <span class="stat">{{ user.getFollowers|length }}</span>
                    <span class="label">Followers</span>
                </div>
                <button type="button" class="btn btn-primary" data-action="follow" data-user-id="{{ user.id }}">
                    <span class="fa fa-fw fa-plus" aria-hidden="true"></span>
                    Follow
                </button>
            </div>
        </div>
    </div>

    <h3 class="page-header">{{ user.username }}'s posts</h3>
    {{ render(controller('AppBundle:Post:userList', {'user': user.id, 'request': app.request})) }}
{% endblock %}
