{% extends 'layout/default.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="profile-picture-wrapper col-md-4 col-xs-12">
            <img src="{{ asset(user.profilePicturePath) }}" alt="{{ user.username }}" class="img-responsive profile-picture img-circle">
        </div>
        <div class="profile-body col-md-8 col-xs-12">
            <h3 class="username">
                {{ user.username }}
                <small>{{ user.forename }} {{ user.surname }}</small>
            </h3>
            <div class="profile-dates">
                <span>Last visit {{ user.lastLogin|time_diff }}</span>
                <span>Joined {{ user.createDate|time_diff }}</span>
            </div>
            {% if user.about is not null %}
                <p class="about">{{ user.about|slice(0, 200) }}
                {% if user.about|length > 200 %}
                    ... <a href="#" data-action="toggle-about">Read more</a>
                    <div class="about-full">
                        <h3>About</h3>
                        <p>{{ user.about }}</p>
                        <a href="#" data-action="toggle-about">Back</a>
                    </div>
                {% endif %}
                </p>
            {% endif %}
            <div class="profile-stats">
                <div class="stat-wrapper">
                    <span class="stat">{{ user.getPosts|length }}</span>
                    <span class="label">Posts</span>
                </div>
                {% set postviews = 0 %}
                {% for post in user.getPosts %}
                    {% set postviews = postviews + post.views %}
                {% endfor %}
                <div class="stat-wrapper">
                    <span class="stat">{{ postviews }}</span>
                    <span class="label">Postviews</span>
                </div>
                <div class="stat-wrapper">
                    <span class="stat" data-followers-counter>{{ user.getFollowers|length }}</span>
                    <span class="label">Followers</span>
                </div>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user != user %}
                    {% if app.user in user.getFollowers %}
                        <button type="button" class="btn btn-primary btn-clicked" data-action="follow" data-user-id="{{ user.id }}" disabled>
                            <span class="fa fa-fw fa-check" aria-hidden="true"></span>
                            Followed
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-primary" data-action="follow" data-user-id="{{ user.id }}">
                            <span class="fa fa-fw fa-plus" aria-hidden="true"></span>
                            Follow
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <h3 class="page-header">
    {% if user.getPosts|length < 1 %}
        {{ user.username }} do not post anything yet
    {% else %}
        {{ user.username }}'s posts
    {% endif %}
    </h3>
    {{ render(controller('AppBundle:Post:userList', {'user': user.id, 'request': app.request})) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app-userprofile.js') }}"></script>
{% endblock %}
