{% extends 'base.html.twig' %}

{% block layout %}

{{ include('navbar.html.twig') }}
{{ include('chat/chat.html.twig') }}

{% if user.profileBackground is defined and user.profileBackground is not null %}
    <main class="main" role="main" style="background-image: url('{{ asset(user.profileBackground) }}');">
{% else %}
    <main class="main" role="main">
{% endif %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% for label, messages in app.flashes %}
          {% for message in messages %}
            <div class="alert alert-{{ label }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endfor %}

        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</main>

{{ include('footer.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app-chat.js') }}"></script>
{% endblock %}
