<div class="post-card-container">
    <div class="post-card-header">
        <a href="{{ path('user', {'user': post[0].author.id}) }}">
                <img src="{{ asset(post[0].author.profilePicturePath) }}" alt="{{ post[0].author.username }}" class="img-circle img-responsive post-card-author-img">
                <span class="post-card-author-username">{{ post[0].author.username }}</span>
        </a>
        <span class="post-card-date">{{ post[0].createDate|date('j M') }}</span>
    </div>
    <div class="post-card-image">
        <a href="{{ path('post', {'post': post[0].id}) }}" style="background-image: url('{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset(post[0].image) }}')" role="image" title="{{ post[0].title }}"></a>
    </div>
    <div class="post-card-footer">
        <a href="{{ path('post', {'post': post[0].id}) }}" title="{{ post[0].title }}">
            <h3>{{ post[0].title|slice(0, 80) }}</h3>
        </a>
        <p>
            <span class="fa fa-fw fa-eye" aria-hidden="true"></span>
            <span class="visually-hidden">Views</span>
            {{ post[0].views }}
            <span class="fa fa-fw fa-comments space-left" aria-hidden="true"></span>
            <span class="visually-hidden">Comments</span>
            {{ post[0].getComments|length }}
            {% if post[0].tags|length > 0%}
                <span class="fa fa-fw fa-tags space-left" aria-hidden="true"></span>
                <span class="visually-hidden">Tags</span>
                {% for tag in post[0].tags %}
                    <a href="{{ path('tag_search', {'tag': tag.id }) }}" class="tag">
                        {{ tag.name }}
                    </a>
                {% endfor %}
            {% endif %}
        </p>
    </div>
</div>
