{% set allowed, voted = true, null %}
{% if app.user == comment.author or not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% set allowed = false %}
{% endif %}
{% for voter in comment.voters %}
    {% if app.user == voter %}
        {% set allowed, voted = false, true %}
    {% endif %}
{% endfor %}

<div id="comment-{{ comment.id }}" class="comment-container">
    <a href="{{ path('user', {'user': comment.author.id}) }}">
        <img src="{{ asset(comment.author.profilePicturePath) }}" alt="{{ comment.author.username }}" class="img-circle img-responsive comment-author-image">
    </a>
    <div class="comment-body">
        <div class="comment-body-header">
            <a href="{{ path('user', {'user': comment.author.id}) }}">{{ comment.author.username }}</a>
            <span class="comment-date">{{
            (comment.createDate|date('d m') < "- 1 day"|date('d m')) ? comment.createDate|date('d M G:i') : comment.createDate|time_diff }}</span>
        </div>
        <p>{{ comment.content|nl2br }}</p>
        <div class="comment-body-footer">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="#" class="separated-link" data-action="comment-reply" data-comment-author="{{ comment.author }}"
                {% if comment.parent is not null %}
                    data-comment-id="{{ comment.parent.id }}"
                {% else %}
                    data-comment-id="{{ comment.id }}"
                {% endif %}
                >Reply</a>
            {% endif %}

            {% if comment.parent is null %}
                {{ render(controller('AppBundle:Comment:listReplies', {'parent': comment.id})) }}
            {% endif %}

            {% if allowed == true %}
                <button type="button" class="btn-rate" data-action="comment-vote" data-comment-id="{{ comment.id }}">
            {% else %}
                <button type="button" class="btn-rate
                {% if voted == true %}
                    clicked
                {% endif %}
                " data-action="comment-vote" data-comment-id="{{ comment.id }}" disabled>
            {% endif %}
                <span class="fa fa-fw fa-thumbs-up" aria-hidden="true"></span>
                <span class="visually-hidden">Vote for this comment</span>
            </button>

            <span data-comment-votes data-comment-id="{{ comment.id }}"
            {% if comment.votes < 1 %}
                class="hidden"
            {% endif %}
            >
                {{ comment.votes }}
            </span>
        </div>
    </div>
</div>
