<ul class="list-group comments">
    <li class="list-group-item">
        <h3 class="list-group-item-heading">
            <span data-comments-number-indicator>
                {{ comments.getTotalItemCount }}
            </span>
            {% if comments.getTotalItemCount == 1 %}
                comment
            {% else %}
                comments
            {% endif %}
        </h3>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle
            {% if comments.getTotalItemCount < 2 %}
                disabled
            {% endif %}
            " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by <span class="caret"></span>
            </button>
            <ul id="sort-list" class="dropdown-menu">
                <li
                {% set sortCriteria = request.query.get('sort')|default('c.votes+c.createDate') %}
                {% if sortCriteria == 'c.votes+c.createDate' %}
                    class="active"
                {% endif %}>
                    {{ knp_pagination_sortable(comments, 'Votes', ['c.votes', 'c.createDate'], {'direction':'desc'}) }}
                </li>
                <li
                {% if sortCriteria == 'c.createDate+c.votes' %}
                    class="active"
                {% endif %}>
                    {{ knp_pagination_sortable(comments, 'Creation date', ['c.createDate', 'c.votes'], {'direction':'desc'}) }}
                </li>
            </ul>
        </div>
    </li>
    {% for comment in comments %}
        {{ include('comment/content.html.twig') }}
    {% endfor %}
    {% if comments.getTotalItemCount > 10 %}
        <li class="list-group-item navigation">
            {{ knp_pagination_render(comments) }}
        </li>
    {% endif %}
</ul>
