<ul class="list-group comments">
  <li class="list-group-item">
    <h3 class="list-group-item-heading">
      {{ comments|length }}
      {% if comments|length == 1 %}
      comment
      {% else %}
      comments
      {% endif %}
    </h3>
  </li>
  {% for comment in comments %}
    <li id="{{ comment.id }}" class="list-group-item">
      <div class="row">
        <div class="col-md-2 col-xs-2">
          <a href="#">
            <img src="{{ asset(comment.author.profilePicturePath) }}" alt="{{ comment.author.username }}" class="img-rounded img-responsive">
          </a>
        </div>
        <div class="col-md-10 col-xs-10">
          <p><a href="#">{{ comment.author.username }}</a>, {{ comment.createDate|date('F j, Y, g:i a')}}</p>
          <button type="button" class="btn btn-primary pull-right btn-reply" reply-to="{{ comment.id }}">Reply</button>
          <p>{{ comment.content }}</p>
        </div>
      </div>
      {{ render(controller('AppBundle:Comment:listReplies', {'parent': comment.id})) }}
    </li>
  {% endfor %}
</ul>
